.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.welcome-text {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.select-text {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.topic-buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.topic-button {
  background-color: #010052;
  border: 2px solid #007bff;
  border-radius: 12px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  color: #007bff;
}

.topic-button:hover {
  background-color: #91d4fd;
  transform: translateY(-2px);
}

.view-results-button {
  background-color: #ffffff;
  color: rgb(49, 48, 48);
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-results-button:hover {
  background-color: #0056b3;
}
